---
import { getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import BlogPost from "../../components/BlogPost.astro";
import BlogHero from "../../components/BlogHero.astro";

const allPosts = await getCollection("blog");

const title = "Blog | FOSSUOK";
const description = "The official blog of FOSSUOK, the Free and Open Source Software Community of University of Kelaniya.";
const OGImage = "https://fossuok.org/images/thumbnail.jpg";
---

<Layout title={title} description={description} OGImage={OGImage}>
  <BlogHero />
  <section class="container mx-auto px-4 mt-16 text-gray-700 dark:text-gray-300">
      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
        {
          allPosts.map((post) => (
              <BlogPost url={"/blog/" + post.slug} title={post.data.title} author={post.data.author} date={post.data.pubDate}/>
          ))
        }
      </div>
    </section>
</Layout>
