---
import Container from "../Container.astro";
import SponsorLogo from "./SponsorLogo.astro";
import { BronzeSponsor,CommunityPartner,DiamondSponsor,GoldSponsor,SilverSponsor } from '../../data/SponsorList'
---
<section id="sponsors" class="pt-8 pb-16">
  <Container>
    <div class="m-auto max-w-4xl aspect-auto px-8 md:p-2 border border-gray-100 rounded-3xl bg-white dark:bg-gray-200 dark:border-gray-200 shadow-2xl shadow-gray-600/10 dark:shadow-none my-12">
      
      <!-- Diamond Sponsors -->
      {DiamondSponsor && DiamondSponsor.length > 0 && (
        <div class="pt-4 text-center">
          <h2 class="text-gray-600 dark:text-gray-900">Diamond Sponsors</h2>
          </div>
          <div class={DiamondSponsor.length<3 ? `grid grid-cols-1 md:grid-cols-${DiamondSponsor.length} items-center` :"grid grid-cols-2 sm:grid-cols-3 md:grid-cols-3 items-center"}>
            {DiamondSponsor.map((sponsor) => (
              <div class="p-1 md:p-4 m-auto">
                <SponsorLogo src={sponsor.image} alt={sponsor.name} link={sponsor.link} />
                </div>
              ))}
              </div>
            )}
  
      <!-- Gold Sponsors -->
      {GoldSponsor && GoldSponsor.length > 0 && (
        <div class="pt-4 text-center">
          <h2 class="text-gray-600 dark:text-gray-900">Gold Sponsors</h2>
          </div>
          <div class={GoldSponsor.length<4 ? `grid grid-cols-1 md:grid-cols-${GoldSponsor.length} items-center` :"grid grid-cols-2 sm:grid-cols-4 md:grid-cols-4 items-center"}>
            {GoldSponsor.map((sponsor) => (
              <div class="p-1 md:p-4 m-auto">
                <SponsorLogo src={sponsor.image} alt={sponsor.name} link={sponsor.link} />
                </div>
              ))}
              </div>
            )}
      
      <!-- Silver Sponsors -->
      {SilverSponsor && SilverSponsor.length > 0 && (
        <div class="pt-4 text-center">
          <h2 class="text-gray-600 dark:text-gray-900">Silver Sponsors</h2>
          </div>
          <div class={SilverSponsor.length<4 ? `grid grid-cols-1 md:grid-cols-${SilverSponsor.length} items-center` :"grid grid-cols-2 sm:grid-cols-4 md:grid-cols-4 items-center"}>
            {SilverSponsor.map((sponsor) => (
              <div class="p-1 md:p-4 m-auto">
                <SponsorLogo src={sponsor.image} alt={sponsor.name} link={sponsor.link} />
                </div>
              ))}
              </div>
            )}
      
      <!-- Bronze Partners -->
      {BronzeSponsor && BronzeSponsor.length > 0 && (
        <div class="pt-4 text-center">
          <h2 class="text-gray-600 dark:text-gray-900">Bronze Sponsors</h2>
          </div>
          <div class={BronzeSponsor.length<4 ? `grid grid-cols-1 md:grid-cols-${BronzeSponsor.length} items-center` :"grid grid-cols-2 sm:grid-cols-4 md:grid-cols-4 items-center"}>
            {BronzeSponsor.map((sponsor) => (
              <div class="p-1 md:p-4 m-auto">
                <SponsorLogo src={sponsor.image} alt={sponsor.name} link={sponsor.link} />
                </div>
              ))}
              </div>
            )}

    <!-- Community Partners -->
    {CommunityPartner && CommunityPartner.length > 0 && (
      <div class="pt-4 text-center">
        <h2 class="text-gray-600 dark:text-gray-900">Community Partners</h2>
      </div>
      <div class={CommunityPartner.length<=3 ? `grid grid-cols-1 md:grid-cols-${CommunityPartner.length} items-center` :"grid grid-cols-2 sm:grid-cols-3 md:grid-cols-3 items-center"}>
          {CommunityPartner.map((sponsor) => (
            <div class="p-1 md:p-4 m-auto">
              <SponsorLogo src={sponsor.image} alt={sponsor.name} link={sponsor.link} />
            </div>
              ))}
      </div>
          )}
  </div>
</Container>
</section>