---
import { Image } from "astro:assets";

const { event,url,hoverAnimation=true,fixedHeight=false } = Astro.props
const { title, description, image, date, speakers, tags, time } = event
const month = date.toLocaleString('default', { month: 'short' }).slice(0, 3);
---
<div class={(hoverAnimation?"transition hover:-translate-y-1 ease-in-out ":"")+"group hover:shadow-xl dark:shadow-gray-800/25"}>
<a href={url} class="overflow-hidden rounded-lg  border-gray-100" >
    <article class={(fixedHeight?"h-80 ":"")+"flex col-span-full rounded-md bg-white dark:bg-gray-800"}>
    <div class="rotate-180 p-2 [writing-mode:_vertical-lr]">
      <time
        datetime={date.toISOString()}
        class="flex items-center justify-between gap-4 text-xs font-bold uppercase text-gray-900 dark:text-white"
      >
        <span>{date.getFullYear()}</span>
        <span class="w-px flex-1 bg-gray-900/10 dark:bg-white/10"></span>
        <span>{month + " "+ date.getDate()}</span>
      </time>
    </div>

    <div class="hidden sm:flex sm:basis-56">
      <Image
        alt={image.alt || title}
        src={image.url}
        class="aspect-square h-full object-cover"
        width={288}
        height={288}
      />
    </div>

    <div class="flex flex-1 flex-col justify-between">
      <div
        class="border-s border-gray-900/10 p-4 sm:!border-l-transparent sm:p-6 dark:border-white/10"
      >
          <h3 class="font-bold text-xl uppercase text-gray-900 dark:text-white">
            {title}
          </h3>

        <p class="mt-2 line-clamp-3 text-lg text-gray-700 dark:text-gray-200">
          {description}
        </p>
      </div>
      
        {speakers.map((speaker, index) => (
          <div class="flex items-center justify-between ms-8 py-2 sm:p-2">
            <div class="flex items-center space-x-4">
            <img
              alt={speaker.name}
              src={speaker.image.url}
              class="w-10 h-10 rounded-full"
              height={40}
              width={40}
            />
            <div>
              <h4 class="font-bold text-gray-900 dark:text-white">{speaker.name}</h4>
            </div>
          </div>
        </div>
        ))}

        <div class="flex items-center justify-between p-2">
            <span class="text-gray-900 dark:text-white sm:flex sm:items-start sm:justify-start ms-4 p-2">
                {tags.map((tag, index) => (
                    <span
                        class="whitespace-nowrap rounded-full bg-purple-100 px-2.5 py-0.5 text-sm text-purple-700 dark:bg-purple-700 dark:text-purple-100 mx-1"
                    >
                        {tag}
                    </span>
                ))}
              
              </span>
            <span class="text-gray-900 dark:text-white p-2 font-bold sm:flex sm:items-end sm:justify-end">{time}</span>
      </div>
    </div>
</article>
</a>
</div>      